/*==============================
	Navigation
==============================*/
/*Navigation styling*/
nav {
  width: 100%;
  margin: 20px 0;
  display: block;
  margin-left: 5px; }
/* Make the list of links take up the whole width of the nav */
nav ul {
  width: 100%; }

nav ul li {
  width: 20%; }

nav ul li a {
  display: block;
  width: 100%; }

nav ul {
  width: 100%; /* from above */
  list-style: none;
  margin: 0;
  padding: 0; }

nav ul li {
  width: 20%; /* from above */
  float: left; }


/*==============================
	Navigation: Page Indicators
==============================*/
.about li:nth-child(1), 
.variants li:nth-child(2),
.recipe li:nth-child(3){
	background: rgba(255,255,255,.15);
}


/*==============================
	Portal Img
==============================*/
#portal img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 5px;
}


/*==============================
	Sites at Bottom of Welcome
==============================*/

#sites a img{
	width: 50px;
	height: 70px;
	position: relative;
	float: left;
	display: block;
  margin-left: auto;
  margin-right: auto;

}

/*==============================
	pages
==============================*/

a img {
	width: 670px;
	height: 250px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
}

/*==============================
	Form
==============================*/

table {

	display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 80px;
}

/*==============================
 signout
==============================*/
section {
  float: right;
}

/*==============================
 contact bg
==============================*/
body.contact {
   background-image:url('boat.jpg');
  background-color:#cccccc;
}